.sty1{
    background-color: royalblue;
    color: white;
    padding: 10px;
    font-family: cursive;
    width: 100%;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}